* {
  font-weight: 800;
}

ion-card {
  h1 {
    color: black;
    font-weight: 900;
  }

  ion-button {
    justify-content: center;
    text-align: center;
  }
  ion-card-header {
    color: black;
    font-size: large;
    font-weight: 900;
    text-align: center;
  }
}

ion-content {
  --background: #00adff;
  h1 {
    color: black;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
  }
  h4 {
    color: black;
    font-weight: 600;
  }
  ion-button {
    --color: white;
    --background: black;
  }
}

#input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 90%;
}

#file-input {
  width: 100%;
  height: 100%;
}

#img_upload {
  width: 100%;
  color: white;
  --background: #00adff;
}

mat-form-field.mat-form-field {
  font-weight: bolder;
  color: black;
  font-size: medium;
  width: 100%;
  mat-label {
    color: black;
    font-weight: 700;
  }
}

form {
  text-align: center;
}

@media (max-width: 576px) {
  mat-form-field.mat-form-field {
    color: black;
    width: 100%;
  }

  ion-toolbar {
    img {
      height: 70px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media (min-width: 820px) {
  mat-form-field.mat-form-field {
    color: black;
    width: 100%;
  }

  ion-toolbar {
    img {
      height: 70px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}