<ion-header>
  <ion-toolbar>
    <img src="../assets/br_logo_small.png">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline" color="dark" defaultHref="create-driver"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-card>
      <ion-card-content>
        <h1>{{ 'Driver Form' | customTranslate | async }}</h1>
        <form [formGroup]="professionalForm" (ngSubmit)="submitForm()" novalidate>
          <ion-row>
            <ion-col text-center>
              {{ 'Select Citizen Card' | customTranslate | async }}
              <ion-input type="file" (change)="getIdDocs($event,'docImage')">
              </ion-input>
              <img [src]="professionalForm.get('docImage').value" />
            </ion-col>
            <span class="error ion-padding" *ngIf="submited && errorControl.docImage.errors?.required">
              {{ 'required field' | customTranslate |async}}
            </span>
          </ion-row>
          <ion-row>
            <h4> {{ 'NIF' | customTranslate | async }}</h4>
            <ion-item>
              <ion-input formControlName="nif" type="text"></ion-input>
              <span class="error ion-padding" *ngIf="submited && errorControl.nif.errors?.required">
                {{ 'required field' | customTranslate |async}}
              </span>
            </ion-item>
          </ion-row>
          <ion-row>
            <h4> {{ 'Citizen Card' | customTranslate | async }}</h4>
            <ion-item>
              <ion-input formControlName="cc" type="text"></ion-input>
              <span class="error ion-padding" *ngIf="submited && errorControl.cc.errors?.required">
                {{ 'required field' | customTranslate |async}}
              </span>
            </ion-item>
          </ion-row>
          <ion-row>
            <h4> {{ 'Nationality' | customTranslate | async }}</h4>
            <ion-item>
              <ion-input formControlName="nation" type="text"></ion-input>
              <span class="error ion-padding" *ngIf="submited && errorControl.nation.errors?.required">
                {{ 'required field' | customTranslate |async}}
              </span>
            </ion-item>
          </ion-row>
          <ion-row>
            <h4> {{ 'Turism Courses or Certifications' | customTranslate | async }}</h4>
            <ion-item>
              <ion-input type="text" formControlName="course"></ion-input>
              <span class="error ion-padding" *ngIf="submited && errorControl.course.errors?.required">
                {{ 'required field' | customTranslate |async}}
              </span>
            </ion-item>
          </ion-row>
          <ion-row>
            <h4> {{ 'Driver Licence' | customTranslate | async }}</h4>
            <ion-item>
              <ion-input type="text" formControlName="driver_l"></ion-input>
              <span class="error ion-padding" *ngIf="submited && errorControl.driver_l.errors?.required">
                {{ 'required field' | customTranslate |async}}
              </span>
            </ion-item>
          </ion-row>
          <ion-row>
            <h4> {{ 'ANCAT Licence Number' | customTranslate | async }}</h4>
            <ion-item>
              <ion-input type="text" formControlName="ancat_l"></ion-input>
              <span class="error ion-padding" *ngIf="submited && errorControl.ancat_l.errors?.required">
                {{ 'required field' | customTranslate |async}}
              </span>
            </ion-item>
          </ion-row>
          <ion-row>
            <h4> {{ 'RNAAT Licence Number' | customTranslate | async }}</h4>
            <ion-item>
              <ion-input type="text" formControlName="rnaat_l"></ion-input>
              <span class="error ion-padding" *ngIf="submited && errorControl.rnaat_l.errors?.required">
                {{ 'required field' | customTranslate |async}}
              </span>
            </ion-item>
          </ion-row>
          <ion-row>
            <h4> {{ 'Bank Iban' | customTranslate | async }}</h4>
            <ion-item>
              <ion-input type="text" formControlName="bank_iban"></ion-input>
              <span class="error ion-padding" *ngIf="submited && errorControl.bank_iban.errors?.required">
                {{ 'required field' | customTranslate |async}}
              </span>
            </ion-item>
          </ion-row>
          <ion-row>
            <h4> {{ 'Emergency Contact' | customTranslate | async }}</h4>
            <ion-row>
              <ion-item>
                <ion-input type="text" placeholder="{{'Name' | customTranslate | async}}"
                  formControlName="emerg_contact_name"></ion-input>
                <span class="error ion-padding" *ngIf="submited && errorControl.emerg_contact_name.errors?.required">
                  {{ 'required field' | customTranslate |async}}
                </span>
              </ion-item>
            </ion-row>
            <ion-row>
              <h4> {{ 'Phone' | customTranslate | async }}</h4>
              <ion-item>
                <ion-input type="number" placeholder=" {{ 'Phone' | customTranslate | async }}"
                  formControlName="emerg_contact_phone"></ion-input>
                <span class="error ion-padding" *ngIf="submited && errorControl.emerg_contact_phone.errors?.required">
                  {{ 'required field' | customTranslate |async}}
                </span>
              </ion-item>
              <h4> {{ 'Relation' | customTranslate | async }}</h4>
              <ion-item>
                <ion-input type="text" placeholder=" {{ 'Relation' | customTranslate | async }}"
                  formControlName="emerg_contact_relation"></ion-input>
                <span class="error ion-padding"
                  *ngIf="submited && errorControl.emerg_contact_relation.errors?.required">
                  {{ 'required field' | customTranslate |async}}
                </span>
              </ion-item>
            </ion-row>
          </ion-row>
          <ion-row>
            <ion-item text-center>
              {{ 'Profile Photo' | customTranslate | async }}
              <ion-input type="file" (change)="getIdDocs($event,'profile_photo')">
              </ion-input>
              <img [src]="professionalForm.get('profile_photo').value" />
            </ion-item>
            <span class="error ion-padding" *ngIf="submited && errorControl.profile_photo.errors?.required">
              {{ 'required field' | customTranslate |async}}
            </span>
          </ion-row>
          <ion-row>
            <h4> {{ 'Tourist Guide or Animator?' | customTranslate | async }}</h4>
            <ion-item>
              <ion-select formControlName="driver_type" placeholder="Select option">
                <ion-select-option value="guide"> {{ 'Guide' | customTranslate | async }}</ion-select-option>
                <ion-select-option value="animator">{{ 'Animator' | customTranslate | async }}</ion-select-option>
              </ion-select>
              <span class="error ion-padding" *ngIf="submited && errorControl.driver_type.errors?.required">
                {{ 'required field' | customTranslate |async}}
              </span>
            </ion-item>
          </ion-row>
          <ion-row>
            <h4> {{ 'About' | customTranslate | async }}</h4>
            <ion-item>
              <ion-textarea rows="6" cols="20" formControlName="about"
                placeholder="{{ 'Tell something about you...' | customTranslate | async }}">
              </ion-textarea>
              <span class="error ion-padding" *ngIf="submited && errorControl.about.errors?.required">
                {{ 'required field' | customTranslate |async}}
              </span>
            </ion-item>
          </ion-row>
          <ion-row>
            <h4> {{ 'Submit your video' | customTranslate | async }}</h4>
            <ion-item>
              <ion-input placeholder="https:youtube..."></ion-input>
            </ion-item>
          </ion-row>
          <ion-row>
            <h4> {{ 'When did you start this activity?' | customTranslate | async }}</h4>
            <ion-item>
              <ion-col>
                <ion-datetime displayFormat="DD-MMMM-YYYY"></ion-datetime>
              </ion-col>

            </ion-item>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-checkbox color="primary" slot="start"></ion-checkbox>
                <ion-label>{{ 'Receive notifications by Email ?' | customTranslate | async }}</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-checkbox color="secondary" slot="start"></ion-checkbox>
                <ion-label>{{ 'Receive newsletter ?' | customTranslate | async }}</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-checkbox color="warning" slot="start"></ion-checkbox>
                <ion-label>
                  {{ 'Agree with Contract Agreement/Conditions' | customTranslate | async }}
                </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button type="submit" expand="block"> {{ 'Create' | customTranslate | async }}
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>