<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back" defaultHref="login" color="dark"></ion-back-button>
    </ion-buttons>
    <img src="../assets/br_logo_small.png">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-card>
      <div class="ion-text-center">
        <h1>Recover Account</h1>
      </div>
      <!-- Email Form -->
      <div class="ion-padding" *ngIf="counter==0">
        <form [formGroup]="recoverEmail" (ngSubmit)="submitEmailForm()" novalidate>
          <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput formControlName="email">
            <mat-error class="error" *ngIf="isSubmittedEmail && errorControl.email.errors?.required">
              {{ "Email is required " | customTranslate | async }}
            </mat-error>
            <mat-error class="error" *ngIf="isSubmittedEmail && errorControl.email.errors?.pattern">
              {{ "Type a valid email" | customTranslate | async }}
            </mat-error>
          </mat-form-field>
          <div class="ion-text-center">
            <button mat-raised-button>Next</button>
          </div>
        </form>
      </div>
      <!-- Code Form -->
      <div class="ion-padding" *ngIf="counter==1">
        <form [formGroup]="recoverEmail" (ngSubmit)="submitEmailForm()" novalidate>
          <div class="ion-text-center">
            <h1>Check your inbox for the code sent</h1>
          </div>
          <mat-form-field appearance="fill">
            <mat-label>Type the code</mat-label>
            <input matInput type="number" formControlName="code">
            <mat-error class="error" *ngIf="isSubmittedEmail && errorControl.code.errors?.required">
              {{ "Code is required " | customTranslate | async }}
            </mat-error>
          </mat-form-field>
          <div class="ion-text-center">
            <button mat-raised-button>Next</button>
          </div>
        </form>
      </div>
      <!-- Password Form -->
      <div class="ion-padding" *ngIf="counter==2">
        <form [formGroup]="recoverEmail" (ngSubmit)="submitEmailForm()" novalidate>
          <mat-form-field appearance="fill">
            <mat-label>Type new Password</mat-label>
            <input matInput #passw [type]="hide ? 'password' : 'text'" formControlName="password">
            <div mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </div>
            <div *ngIf="errorControl.password.errors?.pattern">
              <mat-hint>Minimal 8 characters</mat-hint><br>
              <mat-hint>1 uppercase letter</mat-hint><br>
              <mat-hint>1 number</mat-hint><br>
              <mat-hint>1 special character</mat-hint><br>
              <mat-hint>Length:{{passw.value.length}}</mat-hint>
            </div>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Repeat new Password</mat-label>
            <input matInput [type]="hide2 ? 'password' : 'text'"  formControlName="passConfirm">
            <div mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide2">
                  <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
              </div>
            <mat-error class="error" *ngIf="recoverEmail.errors?.mismatch">
              {{'Password and Confirm Password must be match.' | customTranslate | async}}
            </mat-error>
          </mat-form-field>
          <div class="ion-text-center">
            <button mat-raised-button>Next</button>
          </div>
        </form>
      </div>
      <!-- Final Div -->
      <div class="ion-padding" *ngIf="counter==3">
        <div class="ion-text-center">
          <h1>Done!</h1>
          <h2>{{'Always protect your account.' | customTranslate | async}}</h2>
          <button mat-raised-button (click)="router.navigate(['/login'])">OK</button>
        </div>
      </div>
    </ion-card>
  </ion-grid>
</ion-content>