<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <img src="../assets/br_logo_small.png">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-card>
      <ion-card-header>
        Update Driver Account
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="ionicForm">
          <ion-row>
            <ion-col>
              <ion-input type="text" placeholder="First and Last Name" formControlName="name"
                value="{{ ionicForm['name'] }}"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>Gender</ion-label>
              <ion-select placeholder="Select Gender" formControlName="gender">
                <ion-select-option value="f">Female</ion-select-option>
                <ion-select-option value="m">Male</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>Guide People with Special needs</ion-label>
              <ion-select multiple="true" cancelText="Nah" okText="Okay!" placeholder="Blind Deaf"
                formControlName="guide">
                <ion-select-option value="blind">blind</ion-select-option>
                <ion-select-option value="deaf">deaf</ion-select-option>
                <ion-select-option value="mute">mute</ion-select-option>
                <ion-select-option value="wheel chair">wheel chair</ion-select-option>
                <ion-select-option value="elder">elder</ion-select-option>
                <ion-select-option value="babies">babies</ion-select-option>
                <ion-select-option value="children">children</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>Languages spoken</ion-label>
              <ion-select multiple="true" cancelText="Nah" okText="Okay!" placeholder="Portuguese French"
                formControlName="languages">
                <ion-select-option value="Portuguese">Portuguese</ion-select-option>
                <ion-select-option value="Spanish">Spanish</ion-select-option>
                <ion-select-option value="French">French</ion-select-option>
                <ion-select-option value="English">English</ion-select-option>
                <ion-select-option value="Arab">Arab</ion-select-option>
                <ion-select-option value="Mandarin">Mandarin</ion-select-option>
                <ion-select-option value="Russian">Russian</ion-select-option>
                <ion-select-option value="German">German</ion-select-option>
                <ion-select-option value="Italian">Italian</ion-select-option>
                <ion-select-option value="Bengali">Bengali</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input type="text" placeholder="Phone Number" formControlName="phone"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input type="text" placeholder="Address" formControlName="address"></ion-input>
            </ion-col>
            <ion-col>
              <ion-input type="text" placeholder="Postal Code" formControlName="postal"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>Country</ion-label>
              <ion-select placeholder="Select Country" formControlName="country">
                <ion-select-option value="Portugal">Portugal</ion-select-option>
                <ion-select-option value="France">France</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input type="text" placeholder="City" formControlName="city"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input type="text" placeholder="Company's Name" formControlName="compName"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input type="text" placeholder="Work Address" formControlName="workAddress"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input type="text" placeholder="Work Phone Number" formControlName="workPhone"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input type="text" placeholder="Country Origin" formControlName="originCountry"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>What vehicles do you drive ?</ion-label>
              <ion-select multiple="true" cancelText="Nah" okText="Okay!" placeholder="Car,Tuk Tuk"
                formControlName="vehicles">
                <ion-select-option value="Car">Car</ion-select-option>
                <ion-select-option value="Tuk Tuk">Tuk Tuk</ion-select-option>
                <ion-select-option value="Van">Van</ion-select-option>
                <ion-select-option value="Bus">Bus</ion-select-option>
                <ion-select-option value="Airplane">Airplane</ion-select-option>
                <ion-select-option value="Boat">Boat</ion-select-option>
                <ion-select-option value="Bicycle">Bicycle</ion-select-option>
                <ion-select-option value="Scooter">Scooter</ion-select-option>
                <ion-select-option value="Motocycle">Motocycle</ion-select-option>
                <ion-select-option value="others">others</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-row class="hours">
            <ion-col>
              <ion-label>Availability Hours ?</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="hours">
              <ion-label>Since</ion-label>
              <ion-datetime display-format="h:mm A" picker-format="h:mm A" formControlName="availabilityHoursSince">
              </ion-datetime>
            </ion-col>
            <ion-col class="hours">
              <ion-label>Until</ion-label>
              <ion-datetime display-format="h:mm A" picker-format="h:mm A" placeholder="5:00 PM"
                formControlName="availabilityHoursUntil"></ion-datetime>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input type="text" placeholder="NIF" formControlName="nif"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>Turism Courses or certifications</ion-label>
              <ion-input type="text" placeholder="Name of the course/year" formControlName="nameCourse"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input type="text" placeholder="Driver Licence" formControlName="driverLicense"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input type="text" placeholder="ANCAT Number" formControlName="ancat"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input type="text" placeholder="RNAAT Number" formControlName="rnaat"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input type="text" placeholder="BANK IBAN" formControlName="iban"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-label>Emergency Contact</ion-label><br>
            <ion-row>
              <ion-col>
                <ion-input type="text" placeholder="Name" formControlName="emergencyName"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-input type="text" placeholder="Phone" formControlName="emergencyPhone"></ion-input>
              </ion-col>
              <ion-col>
                <ion-input type="text" placeholder="Relation" formControlName="relation"></ion-input>
              </ion-col>
            </ion-row>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>Tourist Guide or Animator ?</ion-label>
              <ion-select placeholder="Select option" formControlName="type">
                <ion-select-option value="Guide">Guide</ion-select-option>
                <ion-select-option value="Animator">Animator</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>About me</ion-label>
              <ion-textarea rows="6" cols="20" placeholder="Tell Something about you ..." formControlName="about">
              </ion-textarea>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>Submit a video link about you</ion-label>
              <ion-input placeholder="https:youtube..." formControlName="link"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>When did you start this activity?</ion-label>
              <ion-datetime displayFormat="DD-MMMM-YYYY" formControlName="dateActivity"></ion-datetime>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button type="submit" color="warning" expand="block" (click)="updateUser()">Update Account
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button color="warning" expand="block" (click)="alterarPass()">Change Password</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button color="danger" expand="block" (click)="deleteAccount()">Delete Account</ion-button>
            </ion-col>
          </ion-row>

        </form>
      </ion-card-content>
    </ion-card>
  </ion-grid>

</ion-content>