<ion-header>
  <ion-toolbar>
    <img src="../assets/br_logo_small.png">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back" defaultHref="user-choise" color="warning"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-card>
      <ion-card-content>
        <h1>{{ 'Driver Form'| customTranslate | async }}</h1>
        <br>
        <form [formGroup]="driverForm" (ngSubmit)="submitForm()" novalidate>
          <ion-row>
            <h4>{{ 'First and Last Name'| customTranslate | async }}</h4>
            <ion-item>
              <ion-input formControlName="fName" type="text"></ion-input>
            </ion-item>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.fName.errors?.required">
              {{ 'Field Required'| customTranslate | async }}
            </span>
          </ion-row>
          <ion-row>
            <h4>{{ 'Email'| customTranslate | async }}</h4>
            <ion-item>
              <ion-input formControlName="email" type="email"></ion-input>
            </ion-item>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
              {{ 'Field Required'| customTranslate | async }}
            </span>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
              {{ 'Email was wrong format'| customTranslate | async }}
            </span>
          </ion-row>
          <ion-row>
            <h4>{{ 'Password'| customTranslate | async }}</h4>
            <ion-item>
              <ion-input formControlName="password"  [type]="show1 ? 'text' : 'password'"></ion-input>
              <ion-icon [name]="icon1" (click)="togglepassword()" slot="end">
              </ion-icon>
            </ion-item>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
              {{ 'Field Required'| customTranslate | async }}
            </span>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.minlength">
              {{ 'Password should be 8 length'| customTranslate | async }}
            </span>
          </ion-row>
          <ion-row>
            <h4>{{ 'Confirm Password'| customTranslate | async }}</h4>
            <ion-item>
              <ion-input formControlName="passwordConfirm" [type]="show2 ? 'text' : 'password'"></ion-input>
              <ion-icon [name]="icon2" (click)="toggleConfirmPassword()" slot="end">
              </ion-icon>
            </ion-item>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.passwordConfirm.errors?.required">
              {{ 'Field Required'| customTranslate | async }}
            </span>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.passwordConfirm.errors?.minlength">
              {{ 'min length is 8'| customTranslate | async }}
            </span>
          </ion-row>
          <span class="error ion-padding" *ngIf="isSubmited && driverForm.errors?.mismatch">
            {{'Password and Confirm Password must be match.' | customTranslate | async}}
          </span>
          <ion-row>
            <h4>{{ 'Gender'| customTranslate | async }}</h4>
          </ion-row>
          <ion-row>
            <ion-select formControlName="gender" placeholder="{{'gender' | customTranslate | async}}">
              <ion-select-option value="f">{{'Female' | customTranslate | async}}</ion-select-option>
              <ion-select-option value="m">{{'Male' | customTranslate | async}}</ion-select-option>
              <ion-select-option value="n">{{'Prefer not to say' | customTranslate | async}}</ion-select-option>
            </ion-select>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.gender.errors?.required">
              {{ 'Field Required'| customTranslate | async }}
            </span>
          </ion-row>
          <ion-row>
            <h4>{{ 'Birth Date'| customTranslate | async }}</h4>
            <ion-datetime (ionChange)="getDate($event)" formControlName="birth" displayFormat="MM/DD/YYYY" placeholder="20/01/1980">
            </ion-datetime>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.birth.errors?.required">
              {{ 'Field Required'| customTranslate | async }}
            </span>
          </ion-row>
          <ion-row>
            <h4>{{ 'Guide People with special needs'| customTranslate | async }}</h4>
            <ion-col>
              <ion-select formControlName="special" multiple="true" cancelText="Nah" okText="Okay!"
                placeholder="Blind Deaf">
                <ion-select-option value="bl"> {{ 'Blind'| customTranslate | async }}</ion-select-option>
                <ion-select-option value="de"> {{ 'Deaf'| customTranslate | async }}</ion-select-option>
                <ion-select-option value="mu"> {{ 'Mute'| customTranslate | async }}</ion-select-option>
                <ion-select-option value="wc"> {{ 'Wheel Chair'| customTranslate | async }}</ion-select-option>
                <ion-select-option value="el"> {{ 'Elder'| customTranslate | async }}</ion-select-option>
                <ion-select-option value="ba">{{ 'Babies'| customTranslate | async }}</ion-select-option>
                <ion-select-option value="ch">{{ 'Children'| customTranslate | async }}</ion-select-option>
              </ion-select>
              <span class="error ion-padding" *ngIf="isSubmitted && errorControl.special.errors?.required">
                {{ 'Field Required'| customTranslate | async }}
              </span>
            </ion-col>
          </ion-row>
          <ion-row>
            <h4>{{ 'Languages Spoken'| customTranslate | async }}</h4>
            <ion-col>
              <ion-select formControlName="languages" multiple="true" cancelText="Nah" okText="Okay!"
                placeholder="Portuguese French">
                <ion-select-option value="pt">Portuguese</ion-select-option>
                <ion-select-option value="es">Spanish</ion-select-option>
                <ion-select-option value="fr">French</ion-select-option>
                <ion-select-option value="eg">English</ion-select-option>
                <ion-select-option value="ab">Arab</ion-select-option>
                <ion-select-option value="mm">Mandarin</ion-select-option>
                <ion-select-option value="ru">Russian</ion-select-option>
                <ion-select-option value="ge">German</ion-select-option>
                <ion-select-option value="it">Italian</ion-select-option>
                <ion-select-option value="bh">Bengali</ion-select-option>
              </ion-select>
              <span class="error ion-padding" *ngIf="isSubmitted && errorControl.languages.errors?.required">
                {{ 'Field Required'| customTranslate | async }}
              </span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h4>{{ 'Phone Number'| customTranslate | async }}</h4>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            <ion-select formControlName="p_ind" class="custom-options" placeholder="Portugal">
              <ion-select-option *ngFor="let country of countryCode" value="{{ country.dial_code }}">
                {{country.name}}</ion-select-option>
            </ion-select>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.p_ind.errors?.required">
              {{'Indicator is required' | customTranslate | async}}
            </span>
            </ion-col>
            <ion-col>
            <ion-item>
              <ion-input formControlName="phone" type="text"></ion-input>
            </ion-item>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.phone.errors?.required">
              {{ 'Field Required'| customTranslate | async }}
            </span>
            </ion-col>
          </ion-row>
          <ion-row>
            <h4>{{ 'Address'| customTranslate | async }}</h4>
            <ion-item>
              <ion-input formControlName="address" type="text"></ion-input>
              <span class="error ion-padding" *ngIf="isSubmitted && errorControl.address.errors?.required">
                {{ 'Field Required'| customTranslate | async }}
              </span>
            </ion-item>
            <ion-col>
              <h4>{{ 'Postal Code'| customTranslate | async }}</h4>
              <ion-item>
                <ion-input formControlName="postal" type="text"></ion-input>
                <span class="error ion-padding" *ngIf="isSubmitted && errorControl.postal.errors?.required">
                  {{ 'Field Required'| customTranslate | async }}
                </span>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <h4>{{ 'Country'| customTranslate | async }}</h4>
            <ion-col>
              <ion-select formControlName="country" placeholder="{{ 'Select Country' |customTranslate | async}}">
                <ion-select-option value="pt">Portugal</ion-select-option>
                <ion-select-option value="fr">France</ion-select-option>
              </ion-select>
              <span class="error ion-padding" *ngIf="isSubmitted && errorControl.country.errors?.required">
                {{ 'Field Required'| customTranslate | async }}
              </span>
            </ion-col>
          </ion-row>
          <ion-row>
            <h4>{{ 'City'| customTranslate | async }}</h4>
            <ion-item>
              <ion-input formControlName="city" type="text"></ion-input>
              <span class="error ion-padding" *ngIf="isSubmitted && errorControl.city.errors?.required">
                {{ 'Field Required'| customTranslate | async }}
              </span>
            </ion-item>
          </ion-row>
          <ion-row>
            <h4>{{ 'Company Name'| customTranslate | async }}</h4>
            <ion-item>
              <ion-input formControlName="companyName" type="text"></ion-input>
              <span class="error ion-padding" *ngIf="isSubmitted && errorControl.companyName.errors?.required">
                {{ 'Field Required'| customTranslate | async }}
              </span>
            </ion-item>
          </ion-row>
          <ion-row>
            <h4>{{ 'Work Address'| customTranslate | async }}</h4>
            <ion-item>
              <ion-input formControlName="companyAddress" type="text"></ion-input>
              <span class="error ion-padding" *ngIf="isSubmitted && errorControl.companyAddress.errors?.required">
                {{ 'Field Required'| customTranslate | async }}
              </span>
            </ion-item>
          </ion-row>
          <ion-row>
            <h4>{{ 'Work Phone Number'| customTranslate | async }}</h4>
            <ion-item>
              <ion-input formControlName="companyPhone" type="text"></ion-input>
              <span class="error ion-padding" *ngIf="isSubmitted && errorControl.companyPhone.errors?.required">
                {{ 'Field Required'| customTranslate | async }}
              </span>
            </ion-item>
          </ion-row>
          <ion-row>
            <h4>{{ 'Country Origin'| customTranslate | async }}</h4>
            <ion-item>
              <ion-input formControlName="countryOrigin" type="text"></ion-input>
            </ion-item>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.countryOrigin.errors?.required">
              {{ 'Field Required'| customTranslate | async }}
            </span>
          </ion-row>
          <ion-row>
            <h4>{{ 'What vehicle can you driver?'| customTranslate | async }}</h4>
            <ion-col>
              <ion-select formControlName="cars" multiple="true" cancelText="Nah" okText="Okay!"
                placeholder="Car,Tuk Tuk">
                <ion-select-option value="car">Car</ion-select-option>
                <ion-select-option value="tuk">Tuk Tuk</ion-select-option>
                <ion-select-option value="van">Van</ion-select-option>
                <ion-select-option value="bus">Bus</ion-select-option>
                <ion-select-option value="plane">Airplane</ion-select-option>
                <ion-select-option value="boat">Boat</ion-select-option>
                <ion-select-option value="bike">Bicycle</ion-select-option>
                <ion-select-option value="scot">Scooter</ion-select-option>
                <ion-select-option value="motobike">Motocycle</ion-select-option>
                <ion-select-option value="others">others</ion-select-option>
              </ion-select>
              <span class="error ion-padding" *ngIf="isSubmitted && errorControl.cars.errors?.required">
                {{ 'Field Required'| customTranslate | async }}
              </span>
            </ion-col>
          </ion-row>
          <ion-row class="hours">
            <ion-col>
              <ion-label>
                {{ 'Availability Hours ?'| customTranslate | async }}
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="hours">
              <ion-label> {{ 'Since'| customTranslate | async }}</ion-label>
              <ion-datetime formControlName="hoursAvailableSince" display-format="h:mm A" picker-format="h:mm A"
                value="08:00Z" placeholder="8:00 AM">
              </ion-datetime>
            </ion-col>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.hoursAvailableSince.errors?.required">
              {{ 'Field Required'| customTranslate | async }}
            </span>
            <ion-col class="hours">
              <ion-label> {{ 'Until'| customTranslate | async }}</ion-label>
              <ion-datetime formControlName="hoursAvailableUntil" display-format="h:mm A" picker-format="h:mm A" value="17:00Z" placeholder="5:00 PM">
              </ion-datetime>
            </ion-col>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.hoursAvailableUntil.errors?.required">
              {{ 'Field Required'| customTranslate | async }}
            </span>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button type="submit" expand="block"> {{ 'Continue'| customTranslate | async }}
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>