* {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

ion-card {
  ion-card-header {
    color: black;
    font-size: large;
    font-weight: 900;
    text-align: center;
  }

  ion-input {
    border: solid 2px black;
    text-indent: 20px;
    color: black;
    font-weight: 800;
  }
}
