* {
  font-weight: 800;
}

ion-card {
  h1 {
    color: black;
    font-weight: 900;
  }

  ion-button {
    justify-content: center;
    text-align: center;
  }
  ion-card-header {
    color: black;
    font-size: large;
    font-weight: 900;
    text-align: center;
  }
}

ion-content {
  --background: #00adff;
  h1 {
    color: black;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
  }
  h4 {
    color: black;
    font-weight: 600;
    font-size: medium;
  }
  ion-button {
    --color: white;
    --background: black;
  }
}

/* Set the text color */
ion-select::part(text) {
  color: black;
  font-weight: 800;
}

#input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 90%;
}

mat-form-field.mat-form-field {
  font-weight: bolder;
  color: black;
  font-size: medium;
  width: 100%;
  mat-label {
    color: black;
    font-weight: 700;
  }
}

ion-header {
  ion-toolbar {
    display: flex;
    flex-direction: column;
    text-align: center;
    img {
      align-self: center;
      width: 39%;
    }
  }
}

ion-datetime {
  padding-left: 5%;
}

form {
  text-align: center;
}