* {
  font-family: "Montserrat";
}

ion-card {
  border-radius: 5px;
  margin: 27px;
}

ion-content {
  --background: #ffba00;
  --box-shadow: none;
}

h1 {
  font-weight: bolder;
  color: black;
}

ion-label {
  color: black;
  font-weight: 600;
}

ion-input {
  color: black;
  font-weight: 600;
}

ion-searchbar {
  --background: black;
  --border-radius: 20px;
  --box-shadow: none;
  --icon-color: white;
  --color: white;
  --placeholder-color: white;
  --placeholder-font-weight: 900;
}

ion-button {
  --background: black;
}
