<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon (click)="closeModal()" slot="start" src="assets/black_icons/Close-Black.svg"></ion-icon>
    </ion-buttons>
    <ion-title>
      <img src="../assets/br_logo_small.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="ion-text-center">
      <h1>Interest Point</h1>
    </div>
    <ion-list>
      <form [formGroup]="interestForm" (ngSubmit)="submitForm()" novalidate>

        <div class="ion-padding">
          <ion-item *ngFor="let ip of form_interest">
            <ion-label position="stacked">{{ip.text}}</ion-label>
            <ion-input formControlName="{{ip.control}}" type="{{ip.type}}"></ion-input>
          </ion-item>
        </div>
        <!-- Search Bar -->
        <ion-searchbar (ionChange)="updateSearch($event)" placeholder="Find your POI in map">
        </ion-searchbar>
        <ion-list *ngFor="let sug of ListSuggestions">
          <ion-label (click)="itemClick(sug)">{{sug}}</ion-label>
        </ion-list>
        <!-- Map -->
        <div class="ion-padding">
          <ion-label>Locate on map</ion-label>
          <br>
          <div id="map" style="height: 400px;">
          </div>
          <div *ngIf="address != null"> {{address['address']['Address']}}</div>
        </div>
        <!-- Submit button -->
        <div class="ion-text-center">
          <ion-button type="submit">Create Interest Point</ion-button>
        </div>

      </form>
    </ion-list>
  </ion-card>
</ion-content>