* {
  font-family: "Montserrat";
}

ion-content {
  --background: #ffba00;
  --box-shadow: none;
}

//Tive que meter dentro do div pois estava a afetar a img do toolbar
div {
  img {
    width: 50%;
    height: 50%;
  }
}

h1 {
  font-size: 30px;
  color: black;
  font-weight: 800;
  border-left: 2px solid red;
}

p {
  color: black;
  font-weight: 800;
}

@media (max-width: 576px) {
  ion-toolbar {
    img {
      height: 70px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media (min-width: 820px) {
  ion-toolbar {
    img {
      height: 70px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}