<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon size="large" src="../assets/black_icons/Close-Black.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <img src="../assets/br_logo_small.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
          <ion-card>
            <div class="ion-text-center">
              <h1>{{ 'Create Vehicle' | customTranslate | async }}</h1>
            </div>
            <ion-list lines="full">
              <ion-card-content>

                <!-- Vehicle Title -->
                <mat-form-field appearance="fill">
                  <mat-label>{{ 'Vehicle Title' | customTranslate | async }}</mat-label>
                  <input formControlName="title" matInput>
                  <!-- Error messages -->
                  <mat-error *ngIf="isSubmitted && errorControl.title.errors?.required">
                    {{ 'Required' | customTranslate | async }}
                  </mat-error>
                </mat-form-field>

                <!-- Vehicle Seats -->
                <mat-form-field appearance="fill">
                  <mat-label>{{ 'Vehicle Seats' | customTranslate | async }}</mat-label>
                  <input formControlName="seats" matInput>
                  <!-- Error messages -->
                  <mat-error *ngIf="isSubmitted && errorControl.seats.errors?.required">
                    {{ 'Required' | customTranslate | async }}
                  </mat-error>
                  <mat-error *ngIf="isSubmitted && errorControl.seats.errors?.pattern">
                    {{'Numbers Only' | customTranslate | async}}
                  </mat-error>
                </mat-form-field>
                
                <!-- Vehicle Registration -->
                <mat-form-field appearance="fill">
                  <mat-label>{{ 'Vehicle Registration' | customTranslate | async }}</mat-label>
                  <input formControlName="registration" matInput>
                  <!-- Error messages -->
                  <mat-error *ngIf="isSubmitted && errorControl.registration.errors?.required">
                    {{ 'Required' | customTranslate | async }}
                  </mat-error>
                </mat-form-field>

                <!-- Vehicle Description -->
                <mat-form-field appearance="fill">
                  <mat-label>Tour description</mat-label>
                  <textarea formControlName="description" matInput></textarea>
                  <!-- Error messages -->
                  <mat-error *ngIf="isSubmitted && errorControl.description.errors?.required">
                    {{ 'Required' | customTranslate | async }}
                  </mat-error>
                </mat-form-field>
                <br><br>

                <!-- Photo Landing -->
                <ion-row>
                  <div *ngIf="image_list!=null">
                    <div class="ion-text-center"></div>
                    <img *ngFor='let url of image_list' [src]="url" height="100">
                  </div>
                  <ion-button fill="outline" id="img_upload" (click)="f.click()">
                    <input class="ion-hide" (change)="getFilesPOI($event)" #f type="file" id="file-input"
                      accept="image/png, image/jpeg" multiple>
                    {{ 'Upload Vehicle Photos' | customTranslate | async }}
                  </ion-button>
                </ion-row>
                <!-- Submit Button -->
                <ion-row>
                  <ion-button id="button_submit" type="submit">{{ 'Create Vehicle' |
                    customTranslate | async }}
                  </ion-button>
                </ion-row>
              </ion-card-content>
            </ion-list>
          </ion-card>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>