<ion-header>
  <ion-toolbar>
    <img src="../assets/br_logo_small.png">
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="{
  'contentYellow':color_content==='#ffba00',
  'contentBlue':color_content==='#00adff',
  'contentGreen':color_content==='#58a600',
  'contentRed':color_content==='#ff3f00'
}">
  <ion-grid>
    <ion-card>
      <ion-card-header>
        <h1 *ngIf="color_content==='#ffba00'">{{ "Hi! " | customTranslate | async }}</h1>
        <h1 *ngIf="color_content==='#00adff'">{{ "Welcome! " | customTranslate | async }}</h1>
        <h1 *ngIf="color_content==='#58a600'">{{ "Welcome Back! " | customTranslate | async }}</h1>
        <h1 *ngIf="color_content==='#ff3f00'">{{ "Hello! " | customTranslate | async }}</h1>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="submitForm()" novalidate>
          <!-- EMAIL FIELD -->
          <ion-row>
            <ion-item>
              <ion-label position="stacked">{{ "Email" | customTranslate | async }}</ion-label>
              <ion-input clearInput=true formControlName="email" type="email"></ion-input>
            </ion-item>
            <span class="error" *ngIf="isSubmitted && errorControl.email.errors?.required">
              {{ "Email is required " | customTranslate | async }}
            </span>
            <span class="error" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
              {{ "Please write a correct email format" | customTranslate | async }}
            </span>
          </ion-row>
          <!-- Password FIELD -->
          <ion-row>

          </ion-row>
          <ion-row>
            <ion-item>
              <ion-label position="stacked">{{ "Password" | customTranslate | async }}</ion-label>
              <ion-input formControlName="password" [type]="password_type ? 'text' : 'password'"></ion-input>
              <ion-icon slot="end" [name]="password_type ? 'eye-off' : 'eye' " item-right
                (click)="togglePasswordMode()"> </ion-icon>
            </ion-item>
          </ion-row>
          <ion-row>
            <span class="error" *ngIf="isSubmitted && errorControl.password.errors?.required">
              {{ "Password is required" | customTranslate | async }}
            </span>
          </ion-row>
          <!-- BUTTON -->
          <ion-row>
            <ion-col>
              <ion-button type="submit">{{ "Login" | customTranslate | async }}</ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-card-content>
    </ion-card>
    <!-- Google Login -->
    <div class="ion-text-center">
      <ion-chip>
        <ion-avatar>
          <img src="assets/icon/google_logo.svg" />
        </ion-avatar>
        <ion-label>Sign up with Google</ion-label>
      </ion-chip>
    </div>
    <br>
    <!-- Facebook Login-->
    <div class="ion-text-center">
      <ion-chip>
        <ion-avatar>
          <img src="assets/icon/facebook_logo.svg" />
        </ion-avatar>
        <ion-label>Sign up with Facebook</ion-label>
      </ion-chip>
    </div>
    <br>
    <div class="text_create_recover">
      <h3 (click)="navigateScreen('user-choise')">{{ "Don't have an account?" | customTranslate |
        async }} <u>{{ "Sign up" | customTranslate | async }}</u></h3>
      <h3><u>{{ "Forgot your password?" | customTranslate | async }}</u></h3>
    </div>
  </ion-grid>
</ion-content>