* {
  font-family: "Montserrat";
  font-weight: 800;
}

.contentYellow {
  --ion-background-color: #ffba00;
}

.contentBlue {
  --ion-background-color: #00adff;
}

.contentGreen {
  --ion-background-color: #58a600;
}

.contentRed {
  --ion-background-color: #ff3f00;
}

ion-input {
  border-color: red;
  border-radius: 2% solid;
}

ion-button {
  --background: black;
  width: 50%;
}

.error {
  color: red;
}

ion-card {
  border-radius: 11px;
  align-items: center;
  text-align: center;
  --ion-background-color: white;
  h1 {
    color: black;
    text-align: center;
    font-weight: 900;
  }
  ion-label {
    color: gray;
    font-weight: 700;
  }
  ion-card-content {
    color: royalblue;
    font-weight: 800;
  }

  ion-card-header {
    padding: 10px;
  }

  ion-icon {
    padding-top: 20px;
  }
}

ion-chip {
  padding: 6%;
  width: 95%;
  background-color: white;

  ion-label {
    font-weight: 400;
  }
}

.text_create_recover {
  padding-left: 20px;
  h3 {
    font-weight: normal;
    color: white;
    font-size: 15px;
    line-height: 0.2;
  }
}

ion-header {
  @media (min-width: 820px) {
    ion-toolbar {
      display: flex;
      flex-direction: column;
      text-align: center;
      img {
        align-self: center;
        width: 3%;
      }
    }
  }

  @media (max-width: 576px) {
    ion-toolbar {
      display: flex;
      flex-direction: column;
      text-align: center;
      img {
        align-self: center;
        width: 38%;
      }
    }
  }
}
