<ion-header>
  <ion-toolbar>
    <img src="../assets/br_logo_small.png">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back" defaultHref="user-choise" color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-card>
      <ion-row>
        <ion-card-content>
          <h1> {{'Company Form' | customTranslate | async}}</h1>
          <form [formGroup]="companyForm" (ngSubmit)="submitForm()" novalidate>
            <!-- Company Email -->
            <ion-col>
              <div class="ion-padding">
                <h4>{{ "Email" | customTranslate | async }}</h4>
                <ion-item>
                  <ion-input formControlName="email" type="email"></ion-input>
                </ion-item>
                <span class="error ion-padding" *ngIf="submited && errorControl.email.errors?.required">
                  {{'Email is required' | customTranslate | async}}
                </span>
              </div>
            </ion-col>
            <ion-row>
              <ion-col>
                <ion-button (click)="submitForm()" type="submit" expand="block"> {{ 'Next'|
                  customTranslate | async }}
                </ion-button>
              </ion-col>
            </ion-row>
          </form>
        </ion-card-content>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>