<ion-header>
  <ion-toolbar>
    <img src="../assets/br_new_logo.png">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back" defaultHref="user-choise" color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-grid>
    <ion-card>
      <ion-card-header>
        <div class="ion-text-center">
          <h1>{{"Create Company Account" | customTranslate | async}}</h1>
        </div>
        <ion-progress-bar type="determinate" color="dark" value="0.5"></ion-progress-bar>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="companyForm" (ngSubmit)="submitForm()" novalidate>
          <ion-row>
            <ion-col>
              <mat-form-field appearance="outline">
                <mat-label>{{ "Email" | customTranslate | async }}</mat-label>
                <input matInput type="email" formControlName="email">
              </mat-form-field>
              <mat-error *ngIf="submited && errorControl.email.errors?.required">
                {{'Email is required' | customTranslate | async}}
              </mat-error>
              <mat-error *ngIf="submited && errorControl.email.errors?.pattern">
                {{'Wrong email format' | customTranslate | async}}
              </mat-error>
            </ion-col>
          </ion-row>
          <ion-col>
            <ion-button (click)="submitForm()" type="submit" expand="block"> {{ 'Next'|
              customTranslate | async }}
            </ion-button>
          </ion-col>
        </form>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>