<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <img src="../assets/br_logo_small.png">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                {{ 'Tour Creation' | customTranslate | async }}
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <!-- Tour Name -->
              <ion-row>
                <h1>{{ 'Tour Name' | customTranslate | async }}</h1>
              </ion-row>
              <ion-row>
                <ion-input formControlName="name" type="text" placeholder="{{ 'name' | customTranslate | async }}">
                </ion-input>
                <!-- Error messages -->
                <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">
                  {{ 'required' | customTranslate | async }}
                </span>
              </ion-row>
              <!-- Tour Description -->
              <ion-row>
                <h1>{{ 'Tour Description' | customTranslate | async }}</h1>
              </ion-row>
              <ion-row>
                <ion-input formControlName="name" type="text" placeholder="{{ 'name' | customTranslate | async }}">
                </ion-input>
                <!-- Error messages -->
                <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">
                  {{ 'required' | customTranslate | async }}
                </span>
              </ion-row>
              <!-- Photo Landing -->
              <ion-col>
                <ion-button expand="full">
                  <ion-input (change)="loadImageFromDevice($event)" type="file" accept="image/png, image/jpeg"
                    style="opacity: 0%;">cdccdcd</ion-input>
                </ion-button>
              </ion-col>
              <img [src]="image">
              {{image}}
              <!-- Submit Button -->
              <ion-row>
                <ion-button type="submit" id="create" expand="block">{{ 'Create Tour' | customTranslate | async }}
                </ion-button>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>