ion-card {
  ion-card-content {
    color: black;
    font-weight: 900;
  }
  ion-card-header {
    text-align: center;
  }
}

ion-row {
  ion-button {
    text-align: center;
  }
}
ion-content {
  --background: #58a600;
}

#create {
  width: 100%;
  text-align: center;
  --background: #ffba00;
}

#upload {
  ion-button {
    text-align: center;
    --background: #58a600;
  }
}
