<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <img src="../assets/br_logo_small.png">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
          <ion-card>
            <ion-list lines="full" class="ion-no-margin ion-no-padding">
              <ion-card-header>
                <ion-card-title>
                  {{ 'Tour Creation' | customTranslate | async }}
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <!-- Tour Name -->
                <ion-row>
                  <h1>{{ 'Tour Name' | customTranslate | async }}</h1>
                </ion-row>
                <ion-row>
                  <ion-input formControlName="name" type="text"
                    placeholder="{{ 'Tour Name' | customTranslate | async }}">
                  </ion-input>
                  <!-- Error messages -->
                  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">
                    {{ 'required' | customTranslate | async }}
                  </span>
                </ion-row>
                <!-- Tour Description -->
                <ion-row>
                  <h1>{{ 'Tour Description' | customTranslate | async }}</h1>
                </ion-row>
                <ion-row>
                  <ion-input formControlName="name" type="text"
                    placeholder="{{ 'Description' | customTranslate | async }}">
                  </ion-input>
                  <!-- Error messages -->
                  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">
                    {{ 'required' | customTranslate | async }}
                  </span>
                </ion-row>
                <!-- Photo Landing -->
                <ion-row>
                  <ion-col>
                    <ion-item lines="none">
                      <ion-button expand="full" (click)="f.click()" style="width: 100%;height: 100%;">
                        <ion-label slot="end">
                          <h2>Upload Landing Photo</h2>
                        </ion-label>
                      </ion-button>
                      <input class="ion-hide" #f type="file" (change)="loadImageFromDevice($event)" id="file-input"
                        accept="image/png, image/jpeg">
                    </ion-item>
                  </ion-col>
                </ion-row>
                <img [src]="image">
                <!-- Submit Button -->
                <!-- Add Interest Point -->
                <ion-row>
                  <ion-button (click)="openInterestPoint()" style="--background:red" type="submit" id="create"
                    expand="block">{{ 'Add Interest Point'|
                    customTranslate | async }}
                  </ion-button>
                </ion-row>
                <ion-row>
                  <ion-list *ngFor="let ipo of ipoints_arr">
                    <ion-item>
                      <ion-label>
                        <h1>Interest Point : {{ipo.name}}</h1>
                        <h3>Address : {{ipo.address}}</h3>
                      </ion-label>
                    </ion-item>
                  </ion-list>
                </ion-row>
                <ion-row>
                  <ion-button type="submit" id="create" expand="block">{{ 'Create Tour' | customTranslate | async }}
                  </ion-button>
                </ion-row>
              </ion-card-content>
            </ion-list>
          </ion-card>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>