<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="../assets/br_logo_small.png">
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
          <ion-card>
            <div class="ion-text-center">
              <h1>{{ 'Edit Vehicle' | customTranslate | async }}</h1>
            </div>
            <ion-list lines="full">
              <ion-card-content>
                <!-- Vehicle Title -->
                <ion-row>
                  <h4>{{ 'Vehicle Title' | customTranslate | async }}</h4>
                </ion-row>
                <ion-item>
                  <ion-input formControlName="title" type="text" placeholder="{{ 'Title' | customTranslate | async }}">
                  </ion-input>
                  <!-- Error messages -->
                  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.title.errors?.required">
                    {{ 'required' | customTranslate | async }}
                  </span>
                </ion-item>
                <!-- Vehicle Seats -->
                <ion-row>
                  <h4>{{ 'Vehicle Seats' | customTranslate | async }}</h4>
                </ion-row>
                <ion-item>
                  <ion-input formControlName="seats" type="text" placeholder="{{ 'Number of seats' | customTranslate | async }}">
                  </ion-input>
                  <!-- Error messages -->
                  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.seats.errors?.required">
                    {{ 'required' | customTranslate | async }}
                  </span>
                </ion-item>
                <!-- Vehicle Description -->
                <ion-row>
                  <h4>{{ 'Vehicle Description' | customTranslate | async }}</h4>
                </ion-row>
                <ion-item>
                  <ion-textarea formControlName="description" type="text"
                    placeholder="{{ 'Description' | customTranslate | async }}">
                  </ion-textarea>
                  <!-- Error messages -->
                  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.description.errors?.required">
                    {{ 'required' | customTranslate | async }}
                  </span>
                </ion-item>
                <br><br>
                <!-- Photo Landing -->
                <ion-row>
                  <img [src]="image">
                  <ion-button fill="outline" id="img_upload" (click)="f.click()">
                    <input class="ion-hide" #f type="file" (change)="loadImageFromDevice($event)" id="file-input"
                      accept="image/png, image/jpeg">
                    Change Photo
                  </ion-button>
                </ion-row>
                <!--Deelete Vehicle-->
                <ion-row>
                  <ion-button id="img_upload" fill="outline" (click)="deleteVehicle()">{{ 'Delete Vehicle' |
                    customTranslate | async }}
                  </ion-button>
                </ion-row>
                <!-- Submit Button -->
                <ion-row>
                  <ion-button id="button_submit" type="submit">{{ 'Save Changes' |
                    customTranslate | async }}
                  </ion-button>
                </ion-row>
              </ion-card-content>
            </ion-list>
          </ion-card>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>