<ion-header>
  <ion-toolbar>
    <img src="../assets/br_logo_small.png">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back" defaultHref="login" color="medium"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <br><br><br><br><br><br>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>{{ "You are?" | customTranslate | async}}</h1>
      </ion-col><br><br>
    </ion-row>
    <ion-row>
      <ion-button (click)="navigateTo('create-company')">{{ "Company" | customTranslate | async}}</ion-button>
    </ion-row>
    <br>
    <br>
    <ion-row>
      <ion-button (click)="navigateTo('create-driver')">{{ "Driver" | customTranslate | async}}</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>