* {
  font-family: "Montserrat", sans-serif;
}

ion-content {
  --ion-background-color: #ffba00;
}

h1 {
  font-weight: 900;
}
ion-row {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;

  ion-button {
    --background: black;
    --color: white;
    width: 36%;
    font-weight: 800;
    font-size: large;
  }
}

ion-header {
  ion-back-button {
    --min-width: 10px;
  }
  ion-toolbar {
    img {
      width: 45%;
    }
  }
}
