* {
  font-family: "Montserrat", sans-serif;
}

ion-content {
  --ion-background-color: #ffba00;
}

@media (min-width: 820px) {
  ion-header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    img {
      height: 70px;
    }
  }

  h1 {
    font-weight: 900;
  }

  ion-row {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    ion-button {
      --background: black;
      --color: white;
      width: 36%;
      font-weight: 800;
      font-size: large;
    }
  }
}

@media (max-width: 576px) {
  ion-header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    img {
      height: 70px;
    }
  }

  h1 {
    font-weight: 900;
  }

  ion-row {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    ion-button {
      --background: black;
      --color: white;
      width: 36%;
      font-weight: 800;
      font-size: large;
    }
  }
}
