<ion-header>
  <ion-toolbar>
    <img src="../assets/br_logo_small.png">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back" defaultHref="create-company" color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-card>
      <ion-row>
        <ion-card-content>
          <h1>{{ "Company Form" |customTranslate | async}}</h1>
          <br>
          <form [formGroup]="companyGroup" (ngSubmit)="submitForm()" novalidate>
            <ion-row>
              <ion-col>
                <mat-form-field appearance="fill">
                  <mat-label>{{ "Company Name" | customTranslate | async }}</mat-label>
                  <input matInput type="text" formControlName="name">
                </mat-form-field>
                <mat-error class="error" *ngIf="submited && errorControl.name.errors?.required">
                  {{'Name is required' | customTranslate | async}}
                </mat-error>
              </ion-col>
            </ion-row>
            <br>
            <h4>Rnatt Number</h4>
            <ion-row>
              <ion-col size="5">
                <mat-form-field appearance="fill">
                  <mat-label>Code</mat-label>
                  <input formControlName="rnat_1" matInput type="text" maxlength="5">
                </mat-form-field>
                <mat-error class="error" *ngIf="submited && errorControl.rnat_1.errors?.required">
                  {{'Field is required' | customTranslate | async}}
                </mat-error>
              </ion-col>
              <ion-col size="4">
                <mat-form-field appearance="fill">
                  <mat-label>Year</mat-label>
                  <input formControlName="rnat_2" matInput type="text" maxlength="4">
                </mat-form-field>
                <mat-error class="error" *ngIf="submited && errorControl.rnat_2.errors?.required">
                  {{'Field is required' | customTranslate | async}}
                </mat-error>
                <mat-error class="error" *ngIf="submited && errorControl.rnat_2.errors?.pattern">
                  {{'RNAAT format is wrong' | customTranslate | async}}
                </mat-error>

                <mat-error class="error" *ngIf="submited && companyGroup.get('rnat_2').value > current_year">
                  {{'Invalid Year' | customTranslate | async}}
                </mat-error>
              </ion-col>
            </ion-row>
            <br>
            <ion-row>
              <mat-form-field appearance="fill">
                <mat-label>{{ "Address" | customTranslate | async }}</mat-label>
                <input matInput type="text" formControlName="address">
              </mat-form-field>
              <mat-error class="error" *ngIf="submited && errorControl.address.errors?.required">
                {{'Address is required' | customTranslate | async}}
              </mat-error>
            </ion-row>
            <br>
            <ion-row>
              <mat-form-field appearance="fill">
                <mat-label>{{ "City" | customTranslate | async }}</mat-label>
                <input matInput type="text" formControlName="city">
              </mat-form-field>
              <mat-error class="error" *ngIf="submited && errorControl.city.errors?.required">
                {{'City is required' | customTranslate | async}}
              </mat-error>
            </ion-row>
            <br>

            <ion-row>
              <ion-col size="4" size-md>
                <mat-form-field appearance="fill" id="postal-input">
                  <mat-label>{{ "Postal" | customTranslate | async }}</mat-label>
                  <input matInput type="text" formControlName="pcode">
                </mat-form-field>
                <mat-error class="error" *ngIf="submited && errorControl.pcode.errors?.required">
                  {{'Postal is required' | customTranslate | async}}
                </mat-error>
              </ion-col>
              <ion-col size="8" size-md>
                <mat-form-field appearance="outline" id="country-select">
                  <mat-label>Country</mat-label>
                  <mat-select [value]="companyGroup.get('country').value" formControlName="country">
                    <mat-option *ngFor="let countrie of countryList" value="{{ countrie.name }}">
                      {{countrie.name}}</mat-option>
                  </mat-select>
                  <mat-error class="error" *ngIf="submited && errorControl.country.errors?.required">
                    {{'Country is required' | customTranslate | async}}
                  </mat-error>
                </mat-form-field>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="4">
                <mat-form-field appearance="outline">
                  <mat-label>Phone</mat-label>
                  <mat-select value="{{companyGroup.get('p_ind').value}}" formControlName="p_ind">
                    <mat-option *ngFor="let country of countryCode" value="{{ country.dial_code }}">
                      {{country.name + " " + country.dial_code}}</mat-option>
                  </mat-select>
                  <mat-error class="error" *ngIf="submited && errorControl.p_ind.errors?.required">
                    {{'Indicator is required' | customTranslate | async}}
                  </mat-error>
                </mat-form-field>
              </ion-col>
              <ion-col size="8">
                <mat-form-field appearance="fill">
                  <mat-label>{{ "Phone" | customTranslate | async }}</mat-label>
                  <input matInput type="number" formControlName="phone">
                </mat-form-field>

                <mat-error class="error" *ngIf="submited && errorControl.phone.errors?.required">
                  {{'Phone is required' | customTranslate | async}}
                </mat-error>
              </ion-col>
            </ion-row>
            <br>
            <ion-row>
              <mat-form-field appearance="fill">
                <mat-label>{{ "Password" | customTranslate | async }}</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="pass">
                <div mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </div>
              </mat-form-field>

              <mat-error class="error" *ngIf="submited && errorControl.pass.errors?.required">
                {{'Password is required' | customTranslate | async}}
              </mat-error>
              <mat-error class="error" *ngIf="submited && errorControl.pass.errors?.minlength">
                {{' 8 characters in length' | customTranslate |
                async}}
              </mat-error>
            </ion-row>
            <br>

            <ion-row>
              <mat-form-field appearance="fill">
                <mat-label>{{ "Confirm Password" | customTranslate | async }}</mat-label>
                <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="passConfirm">
                <div mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide2">
                  <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </div>
              </mat-form-field>


              <mat-error class="error" *ngIf="submited && errorControl.passConfirm.errors?.required">
                {{'Password is required' | customTranslate | async}}
              </mat-error>
            </ion-row>
            <mat-error class="error" *ngIf="submited && companyGroup.errors?.mismatch">
              {{'Password and Confirm Password must be match.' | customTranslate | async}}
            </mat-error>
            <br>
            <!-- Submit button  -->
            <ion-row>
              <ion-col class="ion-text-center">
                <button mat-raised-button id="input" type="submit" expand="block"> {{ 'Create'|
                  customTranslate | async }}
                </button>
              </ion-col>
            </ion-row>
          </form>
        </ion-card-content>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>