<ion-header>
  <ion-toolbar>
    <img src="../assets/br_logo_small.png">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back" defaultHref="create-company" color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-card>
      <ion-row>
        <ion-card-content>
          <h1>{{ "Company Form" |customTranslate | async}}</h1>
          <br>
          <form [formGroup]="companyGroup" (ngSubmit)="submitForm()" novalidate>
            <ion-row>
              <ion-col>
                <h4>{{ "Company Name" | customTranslate | async }}</h4>
                <ion-item>
                  <ion-input formControlName="name" type="text"></ion-input>
                </ion-item>
                <span class="error ion-padding" *ngIf="submited && errorControl.name.errors?.required">
                  {{'Name is required' | customTranslate | async}}
                </span>
              </ion-col>
            </ion-row>
            <br>
            <ion-row>
              <ion-col>
                <h4>{{ 'RNAAT Number' |customTranslate | async}}</h4>
                <ion-item>
                  <ion-input formControlName="rnat" type="text" placeholder="xxxxx/YYYY"></ion-input>
                </ion-item>
                <span class="error ion-padding" *ngIf="submited && errorControl.rnat.errors?.required">
                  {{'RNAAT is required' | customTranslate | async}}
                </span>
                <span class="error ion-padding" *ngIf="submited && errorControl.rnat.errors?.pattern">
                  {{'RNAAT format is wrong' | customTranslate | async}}
                </span>
              </ion-col>
            </ion-row>
            <br>
            <ion-row>
              <ion-col>
                <h4>{{ " Address" | customTranslate | async }}</h4>
                <ion-item>
                  <ion-input formControlName="address" type="text"></ion-input>
                </ion-item>
                <span class="error ion-padding" *ngIf="submited && errorControl.address.errors?.required">
                  {{'Address is required' | customTranslate | async}}
                </span>
              </ion-col>
            </ion-row>
            <br>
            <ion-row>
              <ion-col>
                <h4>{{ "City" | customTranslate | async }}</h4>
                <ion-item>
                  <ion-input formControlName="city" type="text"></ion-input>
                </ion-item>
                <span class="error ion-padding" *ngIf="submited && errorControl.city.errors?.required">
                  {{'City is required' | customTranslate | async}}
                </span>
              </ion-col>
            </ion-row>
            <br>
            <ion-row>
              <ion-col>
                <h4>{{ "Postal Code" | customTranslate | async }}</h4>
                <ion-item>
                  <ion-input formControlName="pcode" type="text"></ion-input>
                </ion-item>
                <span class="error ion-padding" *ngIf="submited && errorControl.pcode.errors?.required">
                  {{'Postal is required' | customTranslate | async}}
                </span>
              </ion-col>
              <ion-col>
                <h4>{{ "Country" | customTranslate | async }}</h4>
                <ion-item>
                  <ion-input formControlName="country" type="text"></ion-input>
                  <ion-select formControlName="country" class="custom-options" placeholder="Portugal">
                    <ion-select-option *ngFor="let countrie of countryList" value="{{ countrie.name }}">
                      {{countrie.name}}</ion-select-option>
                  </ion-select>
                </ion-item>
                <span class="error ion-padding" *ngIf="submited && errorControl.country.errors?.required">
                  {{'Country is required' | customTranslate | async}}
                </span>
              </ion-col>
            </ion-row>
            <br>
            <ion-row>
              <ion-col>
                <h4>{{ "Phone" | customTranslate | async }}</h4>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-select formControlName="p_ind" class="custom-options" placeholder="Portugal +351">
                  <ion-select-option *ngFor="let country of countryCode" value="{{ country.dial_code }}">
                    {{country.name + " " + country.dial_code}}</ion-select-option>
                </ion-select>
                <span class="error ion-padding" *ngIf="submited && errorControl.p_ind.errors?.required">
                  {{'Indicator is required' | customTranslate | async}}
                </span>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-input formControlName="phone" type="text"></ion-input>
                </ion-item>
                <span class="error ion-padding" *ngIf="submited && errorControl.phone.errors?.required">
                  {{'Phone is required' | customTranslate | async}}
                </span>
              </ion-col>
            </ion-row>
            <br>
            <ion-row>
              <ion-col>
                <h4>Password</h4>
              </ion-col>
              <ion-item>
                <ion-input formControlName="pass" [type]="show1 ? 'text' : 'password'"></ion-input>
                <ion-icon [name]="icon1" (click)="togglepassword()" slot="end">
                </ion-icon>
              </ion-item>
              <span class="error ion-padding" *ngIf="submited && errorControl.pass.errors?.required">
                {{'Password is required' | customTranslate | async}}
              </span>
              <span class="error ion-padding" *ngIf="submited && errorControl.pass.errors?.minlength">
                {{' 8 characters in length' | customTranslate |
                async}}
              </span>
            </ion-row>
            <br>
            <ion-row>
              <ion-col>
                <h4>Confirm Password</h4>
              </ion-col>
              <ion-item>
                <ion-input formControlName="passConfirm" [type]="show2 ? 'text' : 'password'"></ion-input>
                <ion-icon [name]="icon2" (click)="toggleConfirmPassword()" slot="end">
                </ion-icon>
              </ion-item>
              <span class="error ion-padding" *ngIf="submited && errorControl.passConfirm.errors?.required">
                {{'Password is required' | customTranslate | async}}
              </span>
            </ion-row>
            <span class="error ion-padding" *ngIf="submited && companyGroup.errors?.mismatch">
              {{'Password and Confirm Password must be match.' | customTranslate | async}}
            </span>
            <br>
            <!-- Submit button  -->
            <ion-row>
              <ion-col>
                <ion-button type="submit" expand="block"> {{ 'Create'|
                  customTranslate | async }}
                </ion-button>
              </ion-col>
            </ion-row>
          </form>
        </ion-card-content>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>