<ion-app>
  <ion-split-pane contentId="main-content">

    <ion-menu contentId="main-content" type="overlay">

      <ion-content>

        <ion-list id="inbox-list">
          <ion-list-header>
            <ion-item>
              <ion-avatar slot="start">
                <img src="../assets/icon/favicon.png">
              </ion-avatar>
              <ion-label>
                <h2>Driver Sonia</h2>
                <h3>Lorem ipsum dolor sit</h3>
              </ion-label>
            </ion-item>
          </ion-list-header>
          <hr>
          <hr>
          <ion-menu-toggle auto-hide="false" *ngFor="let pages of Pages; let i = index">
            <ion-item (click)="activeIndex = i" routerDirection="root" [routerLink]="[pages.url]" detail="false"
              [class.selected]="activeIndex == i" [color]="activeIndex == i ? 'danger' : '#ffffff'">
              <ion-icon slot="start" [ios]="pages.icon + '-outline'" [md]="pages.icon + '-sharp'"></ion-icon>
              <ion-label>{{ pages.title | customTranslate | async }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>

    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>
</ion-app>