* {
  font-family: "Montserrat";
  font-weight: 600;
}
ion-menu {
  --width: 100%;
}

ion-content {
  --background: #00adff;
}

.close-icon {
  zoom: 2;
  position: relative;
  left: 145px;
  top: 25px;
}

.logout-div {
  position: relative;
  left: 215px;
}

ion-text {
  color: white;
}

ion-list {
  margin: 40px;
  background-color: #00adff;
  ion-item {
    color: white;
    border-bottom: 2px solid white;
  }

  ion-menu-toggle {
    --background: #00adff;
    ion-item {
      //color: black;
      //--color-activated: red;
      //--background-activated: blue;
      ion-label {
        //font-weight: bolder;
        //font-size: large;
        //border-right: 2px solid red;
      }
    }
  }
}
