* {
    font-family: "Montserrat";
    font-weight: bolder;
    color: black;
  }
  
  ion-content {
    --background: yellow;
  }
  
  ion-card {
    margin-top: 40%;
    h1 {
      text-align: center;
    }
  }
  