* {
  font-family: "Montserrat";
}

h1 {
  font-weight: 900;
  color: black;
}
ion-content {
  --background: rgba(255, 0, 0, 0.774);
}

ion-item {
  ion-icon {
    padding-top: 20px;
    zoom: 1.2;
  }
}

.mat-flat-button {
  background-color: rgba(255, 0, 0, 0.774);
  color: white;
  font-weight: 800;
}

#submit {
  background-color: black;
  color: white;
  font-weight: 800;
  width: 60%;
}

.mat-form-field {
  width: 95%;
  color: black;
  font-weight: 800;
}
