<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="../assets/br_logo_small.png">
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <!-- Title -->
    <div class="ion-text-center">
      <h1>Company Account</h1>
      <ion-row class="ion-justify-content-between">
        <ion-col size="3">
          <button (click)="editFields()" mat-fab [style.background-color]="'blue'">
            <mat-icon>edit</mat-icon>
          </button>
        </ion-col>
        <ion-col size="3">
          <button (click)="deleteButton()" mat-fab [style.background-color]="'red'">
            <mat-icon>delete</mat-icon>
          </button>
        </ion-col>
      </ion-row>

    </div>
    <div class="ion-padding">
    </div>
    <form [formGroup]="companyEditForm" (ngSubmit)="editSubmit()" novalidate>

      <div class="ion-padding">
        <ion-item *ngFor="let cmp of comp" lines="none">
          <mat-form-field appearance="fill">
            <mat-label>{{cmp.label}}</mat-label>
            <input [disabled]="true" matInput placeholder="Placeholder" formControlName="{{cmp.control}}" required>
            <mat-error *ngIf="submited && errorControl[cmp.control].errors?.required">
              {{cmp.control}} is required.
            </mat-error>
          </mat-form-field>
          <!--<span class="error ion-padding" *ngIf="submited && errorControl[cmp.control].errors?.required">
            {{cmp.control}} is required.
          </span>
          <span class="error ion-padding" *ngIf="submited && errorControl[cmp.control].errors?.pattern">
            pattern is wrong
          </span>
          <span class="error ion-padding" *ngIf="submited && errorControl[cmp.control].errors?.minlength">
            Length minimum is 7
          </span>-->
        </ion-item>
        <div class="ion-text-center">
          <button mat-flat-button [disabled]="companyEditForm.disabled" type="submit" id="submit">
            {{ 'Update' |customTranslate |async}}
          </button>
        </div>
      </div>
    </form>
  </ion-card>
</ion-content>