<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="../assets/br_logo_small.png">
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <!-- Search Bar -->
    <ion-item class="search-item">
      <mat-icon>search</mat-icon>
      <div class="input-search">
        <ion-label>
          <mat-form-field appearance="outline">
            <mat-label>Search Tour</mat-label>
            <input matInput [(ngModel)]="tourSearchTerm" (ionChange)="search()" placeholder="search the tour">
          </mat-form-field>
        </ion-label>
      </div>
    </ion-item>
    <br>

    <!-- IGNORAR!!! - APENAS FAZ O INPUT ACIMA MAIS O SEARCH FUNCIONAR-->
    <ion-input hidden [(ngModel)]="tourSearchTerm" (ionChange)="search()">
    </ion-input>
    <!-- IGNORAR!!!-->

    <!-- Button create Tour -->
    <ion-row>
      <ion-item class="add-item" (click)="openModalCreateTour()">
        <mat-icon>add</mat-icon>
        <div class="add-text">
          Add new Tour
        </div>
      </ion-item>
    </ion-row>
    <!-- List -->
    <ion-row>
      <ion-col>
        <ion-item-sliding *ngFor="let tour of tourList; let i = index">
          <ion-item>
            <ion-col class="ion-padding-top">
              <p>{{ tour.title}}</p>
            </ion-col>
            <mat-slide-toggle slot="end">Draft</mat-slide-toggle>

            <mat-icon slot="end">arrow_back</mat-icon>
          </ion-item>
          <!-- Options -->
          <ion-item-options side="end">
            <ion-item-option>
              <mat-icon>edit</mat-icon>
            </ion-item-option>
            <ion-item-option (click)="deleteTour(tour.id, i)">
              <mat-icon [ngStyle]="{'color':'white'}">delete</mat-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>