<ion-menu contentId="mainContent" type="overlay">
  <div class="ion-text-center">
    <img src="../assets/br_logo_small.png">
  </div>
  <ion-content>
    <ion-icon (click)="closeMenu()" class="close-icon" src="assets/white_icons/Close-White.svg"></ion-icon>
    <ion-text>Hello <u><b>EMpresa X</b></u> !</ion-text>
    <ion-list>
      <ion-menu-toggle autoHide="false" *ngFor="let pages of pages; let i = index">
        <ion-item lines="none" (click)="activeIndex = i" routerDirection="root" [routerLink]="[pages.url]"
          detail="false" [class.selected]="activeIndex == i" [color]="activeIndex == i ? 'dark' : '#00adff'">
          <ion-icon slot="start" [src]="'assets/white_icons/' + pages.icon" style="zoom: 1.2;"></ion-icon>
          <ion-label>{{ pages.title }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
    <div class="logout-div">
      <ion-icon src="assets/white_icons/Logout-White.svg"></ion-icon>
    </div>
  </ion-content>
</ion-menu>