<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon size="large" src="../assets/black_icons/Close-Black.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <img src="../assets/br_logo_small.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
          <ion-card>
            <div class="ion-text-center">
              <h1>{{ 'Tour Creation' | customTranslate | async }}</h1>
            </div>
            <div *ngIf="this.image!=null">
              <img [src]="image">
            </div>
            <ion-list lines="full">
              <ion-card-content>
                <!-- Tour Name -->
                <ion-row>
                  <h4>{{ 'Tour Name' | customTranslate | async }}</h4>
                  <ion-item>
                    <ion-input formControlName="name" type="text"
                      placeholder="{{ 'Tour Name' | customTranslate | async }}">
                    </ion-input>
                  </ion-item>
                  <!-- Error messages -->
                  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">
                    {{ 'required' | customTranslate | async }}
                  </span>
                </ion-row>
                <!-- Tour Description -->
                <ion-row>
                  <h4>{{ 'Tour Description' | customTranslate | async }}</h4>
                </ion-row>
                <ion-item>
                  <ion-textarea formControlName="description" type="text"
                    placeholder="{{ 'Description' | customTranslate | async }}">
                  </ion-textarea>
                </ion-item>
                <!-- Error messages -->
                <span class="error ion-padding" *ngIf="isSubmitted && errorControl.description.errors?.required">
                  {{ 'required' | customTranslate | async }}
                </span>
                <br><br>
                <!-- Photo Landing -->
                <ion-button fill="outline" id="img_upload" (click)="f.click()">
                  <input class="ion-hide" #f type="file" (change)="loadImageFromDevice($event)" id="file-input"
                    accept="image/png, image/jpeg">
                  Upload Landing Photo
                </ion-button>
                <!-- Add Interest Point -->
                <ion-row>
                  <ion-button id="img_upload" fill="outline" (click)="openInterestPoint()">
                    {{ 'Add Interest Point'|
                    customTranslate | async }}
                  </ion-button>
                </ion-row>
                <ion-row>
                  <ion-list *ngFor="let ipo of ipoints_arr">
                    <ion-item>
                      <ion-label>
                        <h1>Interest Point : {{ipo.name}}</h1>
                        <h3>Address : {{ipo.address}}</h3>
                      </ion-label>
                    </ion-item>
                  </ion-list>
                </ion-row>
                <ion-row>
                  <ion-button id="button_submit" type="submit">{{ 'Next' |
                    customTranslate | async }}
                  </ion-button>
                </ion-row>
              </ion-card-content>
            </ion-list>
          </ion-card>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>