* {
  font-family: "Montserrat";
}

ion-content {
  --background: #ffba00;
}

mat-form-field.mat-form-field {
  font-size: 16px;
  font-weight: bolder;
  color: black;
  width: 100%;
}

ion-card {
  h1 {
    color: black;
    font-weight: 800;
  }

  h4 {
    color: black;
    font-weight: 600;
    padding-left: 15px;
  }

  ion-input {
    color: black;
    font-weight: 800;
  }

  ion-textarea {
    color: black;
    font-weight: 700;
  }
}

#file-input {
  width: 100%;
  height: 100%;
}

#img_upload {
  width: 100%;
  color: black;
  --background: white;
  --border-width: 1px;
  --border-color: blacK;
}

#button_submit {
  width: 100%;
  color: white;
  --background: black;
  border-radius: 3px;
}

ion-item-sliding {
  ion-item {
    max-height: fit-content;
  }
  p {
    color: black;
    font-weight: 800;
  }
}

@media (max-width: 576px) {
  ion-toolbar {
    img {
      height: 70px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media (min-width: 820px) {
  ion-toolbar {
    img {
      height: 70px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}