<ion-header>
  <ion-toolbar>
    <img src="../assets/br_logo_small.png">
  </ion-toolbar>
</ion-header>

<ion-content color="sucess">
  <ion-grid>
    <ion-card>
      <ion-row>
        <ion-col>
          <ion-card-header>
            <h1>Confirm Account</h1>
          </ion-card-header>
          A code was sent to your email. Check your inbox.
          <ion-item lines="none">
            <ion-label> CODE </ion-label>
            <ion-input maxlength="6" type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="danger" shape="block">Confirm Account</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="warning" shape="block">Reesend Code</ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>