* {
  font-family: "Montserrat";
  font-weight: 900;
}

ion-content {
  --background: #e02401;
}

.home_card {
  margin-top: 80px;
  h1 {
    color: black;
    font-weight: 800;
  }
}

ion-card-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  .button_tour {
    background-color: #ffab00;
  }

  .button_vehicle {
    background-color: #58a600;
  }

  .button_driver {
    background-color: #00adff;
  }
}

.add-tour {
  button {
    background-color: #ffab00;
    color: black;
    font-size: large;
  }
  button:active {
    background-color: white;
  }
}

.add-vehicle {
  button {
    background-color: rebeccapurple;
    color: aqua;
  }
  button:active {
    background-color: white;
  }
}
