* {
  font-family: "Montserrat";
  font-weight: 900;
}

ion-content {
  --background: #e02401;
}

ion-menu {
  --width: 100%;
}

ion-card-header {
  h1 {
    color: #00adff;
    font-weight: 800;
  }
}

.tour {
  background-color: #ffba00;
  color: black;
  font-weight: 800;
}

.vehicle {
  background-color: #58a600;
  color: black;
  font-weight: 800;
}

.driver {
  background-color: #00adff;
  color: black;
  font-weight: 800;
}

@media (max-width: 576px) {
  ion-toolbar {
    img {
      height: 70px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media (min-width: 820px) {
  ion-toolbar {
    img {
      height: 70px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}